@media only screen and (min-width: 993px) {
  main {
    padding-left: 306px;
  }
  footer {
    padding-left: 306px;
  }
  ul#slide-out {
    padding-top: 30px;
  }
  .nav-container {
    padding-left: 310px;
  }
}

nav {
  height: 64px;
}
body {
  max-height: 100vh;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eeeeee;
}

main {
    height: calc(100vh - 64px - 112px);
    flex: 1 0 auto;
  }
main.default {
  padding-left: 0px;
}
  ul.dropdown-content {
    left: auto !important;
    right: 0 !important;
}

ul.dropdown-content li a {
    color: black;
  }

  ul.dropdown-content li:hover {
    background-color: #eeeeee;
  }

  ul.dropdown-below {
    top: 64px !important;
    width: 220px;
  }


  ul.dropdown-content.select-dropdown li span {
      color: black; /* no need for !important :) */
  }

  .row-bottom {
      margin-top: 0px;
      margin-bottom: 0px !important;
  }

  .page-footer {
    padding-top: 5px;
  }

.row {
  margin-bottom: 0px;
}

span.badge {
  position: relative;
  display: inline-block;
  float: none;
}

.login-container {
    padding-top: 8%;
    margin: 0 auto;
    width: 600px;
}

@media only screen and (max-width: 599px) {
  .login-container {
      width: 98%;
  }
}

.edit-container {
    padding-top: 4%;
    margin: 0 auto;
    width: 600px;
}

@media only screen and (max-width: 599px) {
  .edit-container {
      width: 98%;
  }
}

.spinner-blue-only {
  border-color: #009688 !important;
}

.preloader-wrapper.big.extra {
    width: 90px;
    height: 90px;
}

.card-image {
  height: 150px;
  overflow: hidden
}
.card {
  height: 329px;
  max-height: 329px;
}

.card-action {
  height: 69px;
  max-height: 69px;
}

.card-content {
  height: auto;
}
